.container{
    height: 100vh;
    display:block;
    text-align: center;
}

.container .search-block{
    min-width: 200px;
    flex: auto;
}

/* .container .search-block .search-hint{
} */

.container .search-block .search-input{
    width:100%;
}

.container .auth-block{
    flex: auto;
}