.commit-details{
    margin: 0;
    min-width: 100%;
}

.commit-details .row{
    margin-bottom: 8px;
}

.commit-details .row.detail{
    color: #888;
    fill: #888;
    border-top: solid 1px grey;
    margin-top: 16px;
    padding-top: 8px;
}

.commit-details .row.detail .file-list{
    margin-top:8px;
    min-width: 100%;
}

.commit-details .row.detail .file-list .file-list-container{
    margin: auto;
    min-width: 100%;
}

.commit-details .row.detail .file-list .file-list-container .MuiListItemText-primary{
 font-size: large;
}

.commit-details .row.detail .file-change{
    display: flex;
    margin-left: 8px;
}

