.commit-details{
    margin: 0;
    min-width: 100%;
}

.commit-details .row{
    margin-bottom: 8px;
    width: fit-content;
}

.commit-details .row.detail{
    color: #888;
    fill: #888;
    border-top: solid 1px grey;
    margin-top: 16px;
    padding-top: 8px;
    width: 100%;
}

.commit-details .row.detail .hash{
    align-items: center;
    flex-wrap: nowrap;
}

.commit-details .row.detail .file-list{
    margin-top:8px;
    min-width: 100%;
}

.commit-details .row.detail .file-list .file-list-container{
    margin: auto;
    min-width: 100%;
}

.commit-details .row.detail .file-list .file-list-container .file-name{
    flex: 1 1 75%;
}

.commit-details .row.detail .file-list .file-list-container .file-change{
    flex: 0 0 auto;
    justify-content: flex-end;
}

.commit-details .row.detail .file-list .file-list-container .file-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.commit-details .row.detail .file-list .file-list-container .MuiListItemText-primary{
    font-size: large;
}

.commit-details .row.detail .file-change{
    display: flex;
    margin-left: 8px;
}

.commit-details .row.detail .hash .icon{
    padding: 0;
    line-height: 0;
}

.commit-details .row.detail .hash .hash-id{
    font-size: 1rem;
}

@media all and (max-width: 1005px) {    
    .commit-details .row.detail .hash .hash-id{
        font-size: 0.75rem;
    }
}
