.browser .drawer {
    position: relative;
    width: 100%;
    height: 100%;
}

.browser .drawer > div{
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    height: 95vh;
    overflow-y: auto;
}