.browser .drawer {
    position: relative;
    width: 100%;
    height: 100%;
}

.browser .drawer {
    width: 500px;
    position: absolute;
    left: 0;
    height: auto;
    height: 95vh;
    overflow-y: auto;
}

.browser .drawer > div{
    display:contents;
}

.browser .drawer .commits-list .commit{
    cursor: pointer;
;}

.browser .drawer .commits-list .commit.selected{
    background: #DDD;
}


@media all and (max-width: 1005px) {
    .browser .drawer {
        max-height: 250px;
        position: static !important;
        min-width:100% !important;
        width: 100vw !important;
    }
}