
.browser .toolbar {
    justify-content: space-between;
}

.browser .detail-container {
    max-width: calc(100% - 500px);
    max-width: -webkit-calc(100% - 500px);
    max-width: -moz-calc(100% - 500px);
    margin-right: 0;
    padding: 32px;
}

